html{
    overflow-x: hidden;
}

body{
    display: flex;
    height: 100%;
}

.icons{
    display: block;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
}
#logo{
    width: 150px;
    height: 150px;
    background-image: url('../images/logo.svg');
    margin-left:50px;
}

#left-sidebar{
    width: 300px;
    background-color: rgb(15, 74, 159) !important;
}

.nav-icons-span{
    display: flex;
    margin-top: 10px;
}

#dashboard-icon{
    background-image: url('../images/AeroSim_Dashboard_Icon.svg');
}

#basket-icon{
    background-image: url('../images/AeroSim_Shopping_Basket_Icon.svg');
}
#library-icon{
    background-image: url('../images/AeroSim_Library_Books_Icon.svg');
}
#progress-icon{
    background-image: url('../images/AeroSim_Progress_Check_Icon.svg');
}
#study-progress-icon{
    background-image: url('../images/Progress_blue.png');
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

#catalog-card-icon{
    background-image: url('../images/basket_blue.png');
    width: 50px;
    height: auto;
    background-repeat: no-repeat;
}
#explore-card-icon{
    background-image: url('../images/explore_icon.png');
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

#search-card-icon{
    background-image: url('../images/Search.png');
    width: 70px;
    height: 70px;
    margin-left: 30px;
}
#search-btn-icon{
    margin-left: 50px;
}
#library-card-icon{
    background-image: url('../images/library-blue.svg');
    width: 60px;
    height: 60px;
}

#stats-icon{
    height: 20px;
    width: 20px;
    background-image: url('../images/stats-icon.svg');
}
#mobile-stats-icon{
    background-image: url('../images/stats-icon.svg');
}


.left-section{
    width: 300px;
    min-height: 100vh;
}

.left-section nav{
    display: flex;
    height: 100% ;
}

.content-area{
    background-color: #f2f2f2;
    min-height: 100vh;
    width: calc(100vw - 300px);
}

.container-fluid{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
#search_bar{
    margin-left: 30px;
    margin-right: 80px;
}

.form-control{
    border-radius: 34px;
    background-color: #f2f2f2;
}

#header_title{
    width: 40vw;
}

#card-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 34px;
    border: 0;
}

.card-body{
    margin-left: 30px;
}

.card-title-span{
    display: flex;
    margin-bottom: 20px;
    font-size:xx-large;
    font-family:sans-serif;
}
.card-title-span img{
    margin-right: 10px;
}

#profile-image{
    display:block;
    width: 50px;
    height: 50px;
}

#catalog-span-card{
    display: flex;
}

.nav-link:hover{
    background-color: #0d6efd;
}

.nav-link{
    margin-bottom: 10px;
}

#nav-util{
    list-style-type: none;
}

#nav-util li{
    margin-right: 20px;
}

.btn{
    width: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 34px;
}

#span-btn{
    display: block;
    margin-left: 30px;
}

#explore-btn{
    margin-top: 20px;
}

#progression-card{
    width: 45vw;
    border-radius: 34px;
}

#progression-card .btn{
    margin-left:50px ;
}

#catalog-card{
    width: 25vw;
    align-items: center;
}

#simulations-card{
    width: 87%;
    height: 100%;
    margin-bottom:50px;
}

#simulation-card-btn{
    align-self: center;
    width: 150px;
    height: 50px;
}

table{
    margin-left: 20px;
}

#div-table{
    overflow-x:auto;
}

#table-row th,td{
    border-bottom: 1px solid rgba(212, 206, 206, 0.603);
    padding-right: 5vw;
    padding-top: 15px;
    padding-bottom: 15px;
}
#table-row th{
    padding-bottom: 0;
    padding-top: 0;
}

#table-row .btn{
    margin-top: 10px !important;
}

table tbody tr td img{
    cursor: pointer;
}

td{
    text-align: center;
}

td button{
    margin-top: 20px;
}

#Search-bar-modal{
    height: fit-content;
    border-radius: 0;
}

#search-btn-modal{
    border-radius: 0;
}

#sim-link{
    background-color: #0d6efd;
}

#home-link{

    background-color: #0f4a9f;
}

#header_title h5{
    color: gray;
}




#mobile-sidebar {
    display: none;
    
}

#mobile-sidebar-content{
    background-color: rgb(15, 74, 159) !important;
    width: 4.5rem;
}

#notification {
    margin-right: 20px;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    background-image: url('../images/message_icon.svg');
    background-repeat: no-repeat;
  }
  
  #notification #badge {
    position: absolute;
    top: -2px;
    right: -5px;
    padding-left: 5px;
    width: 20px;
    border-radius: 50%;
    background: red;
    color: white;
  }

@media (max-width: 1025px){
    #mobile-sidebar{
        display: block !important;
        height: 100vh;
        z-index: 1000;
    }

    #mobile-sidebar-content{
        position: fixed ;
        height: 100vh;
    }

    .right-section{
        width: calc(100vw - 70px);
    }

    header{
        display: none;
    }

    #mobile-logo{
        width: 70px;
        height: 70px;
        background-image: url('../images/logo.svg');
        margin-left: -15px;
    }

    #mobile-dashboard-icon{
        background-image: url('../images/AeroSim_Dashboard_Icon.svg');
    }

    #mobile-basket-icon{
        background-image: url('../images/AeroSim_Shopping_Basket_Icon.svg');
    }
    #mobile-library-icon{
        background-image: url('../images/AeroSim_Library_Books_Icon.svg');
    }
    #mobile-progress-icon{
        background-image: url('../images/AeroSim_Progress_Check_Icon.svg');
    }

    #mobile-profile-image{
        display:block;
        width: 50px;
        height: 50px;
    }

    .content-area{
        width: calc(100vw - 70px);
    }
    
    #card-container {
        padding-bottom: 20px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }


    .left-section{
        width: 70px;
        min-height: 100vh;
    }

    #left-sidebar{
        display: none !important;
    }

    .card{
        margin-left: 20px;
        margin-top: 30px;
        width: 80% !important;
        border-radius: 34px;
        border: 0px;
    }
    #mobile-notification {
        margin-right: 20px;
        text-decoration: none;
        padding: 40px 26px;
        margin-left: 10px;
        position: relative;
        background-image: url('../images/message_icon.svg');
        background-repeat: no-repeat;
      }
      
      #mobile-notification #mobile-badge {
        position: absolute;
        top: -2px;
        right: -5px;
        padding-left: 5px;
        width: 20px;
        border-radius: 50%;
        background: red;
        color: white;
      }


}

@media (max-width: 400px){
    .card{
        margin-left: 20px;
        margin-top: 30px;
        width: 80% !important;
        border-radius: 34px;
        border: 0px;
    }

    #search-btn-icon {
        margin-left: 0px;
    }

    #explore-card-icon {
        background-image: url(../images/explore_icon.png);
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    #explore-btn{
        margin-left: -12px;
    }
    
    .card-title-span{
        font-size:large;
    }

    #mobile-notification {
            margin-right: 20px;
            text-decoration: none;
            padding: 40px 26px;
            margin-left: 10px;
            position: relative;
            background-image: url('../images/message_icon.svg');
            background-repeat: no-repeat;
      }
          
      #mobile-notification #mobile-badge {
        position: absolute;
        top: -2px;
        right: -5px;
        padding-left: 5px;
        width: 20px;
        border-radius: 50%;
        background: red;
        color: white;
      }


}
